{
  "presets": ["@babel/preset-env"],
  "plugins": [
      [
        "@babel/plugin-proposal-record-and-tuple",
        {
          "importPolyfill": true,
          "syntaxType": "hash"
        }
      ]
    ]
}