.DS_Store
node_modules
.svelte-kit
packages/xt-composite-tools/dist/*
packages/xt-material-center/dist/*
packages/xt-screen-editor/dist/*
packages/xt-composite-tools/__tests__/*
packages/xt-material-center/__tests__/*
packages/xt-screen-editor/__tests__/*

yarn-error.log
.vercel_build_output
build
dist

/yarn-error.log

*.log
*.less.d.ts
*.css.d.ts
